tqdm 
timm  
pandas  
Pillow 
numpy==1.23.1
scikit_image==0.19.3
scikit-learn
opencv-python<=4.5.1.48
setuptools==67.6.0 
matplotlib==3.6.1 
seaborn==0.11.1
demangler
numexpr
pyfftw
healpy==1.16.3
h5py
gdown
e2cnn
spconv
einops
open3d
imutils
pathlib
omegaconf
faiss-gpu
SharedArray
tensorboardX
colour_demosaicing
pytorch_metric_learning
kornia==0.6.7
efficientnet-pytorch
av2==0.1.0
alpha-transform
